@{
    ViewData["Title"] = "Creditos";
}

@if(ViewBag.creadores != null){
    <section class="creditos">
        @foreach(Persona persona in ViewBag.creadores)
        {
            <div>
                <h2>
                    @persona.nombre
                </h2>
                <h3>
                    @persona.rol
                </h3>
                <img src="@Url.Content(persona.foto)" alt="">
            </div>
        }
    </section>
}else{
        <h2>
            Aún no te has identificado...
        </h2>
}
