@{
    ViewData["Title"] = "Index";
}
<section>
    <div>
        <h2>
            Francisco Castillo
        </h2>
        <h3>
          Egresado Ort Info 2026
        </h3>
        <img src="" alt="ERROR">
    </div>
    <div>
        <h2>
            Bruno Roth
        </h2>
        <h3>
          Egresado Ort Info 2026
        </h3>
        <img src="" alt="ERROR">
    </div>
    <div>
        <h2>
            Maica Trutner
        </h2>
        <h3>
          Egresada Ort Info 2026
        </h3>
        <img src="" alt="ERROR">
    </div>
</section>
