@{
    ViewData["Title"] = "Index";
}

<div>
    <h1>Index</h1>
    <p>Bienvenidos al sitio web de NombreProyecto</p>

    <form action="@Url.Action("Identificarse", "Home")" method="post">
        Nombre: <input type="text" name="nj" required />

        <input type="submit" value="Entrar">


    </form>
</div>
