@{
    ViewData["Title"] = "Index";
}
<div>
    <form action='@Url.Action("Identificarse", "Home")' method="get">
        <input type="text" name="nJ"/>
        <input type="submit" value="Entrar">
    </form>
</div>