@{
    ViewData["Title"] = "Index";
}
@if(ViewBag.sala == 5)
{
    <div>
    <form action='@Url.Action("PasarSala", "Home")' method="get">
        <input type="text" name="contraseña"/>
        <input type="submit" value="Entrar">
    </form>
</div>
}else
{
    @Url.Action("JugarSala", "Home")
}