@{
    ViewData["Title"] = "Sala 5";
}
<section class="sala5">
    <a href='@Url.Action("IrPista", "Home")'>Obtener pista</a>
    <ul>
        @foreach(string qr in ViewBag.qrs)
        {
            <li><img src=qr alt="ERROR"></li>
        }
    </ul>
    <form action='@Url.Action("PasarSala", "Home")' method="get">
        <input type="text" name="contraseña"/>
        <input type="submit" value="Enviar">
    </form>
</section>
