@{
    ViewData["Title"] = "Sala 4";
}

<form method="post" action='@Url.Action("ValidarSimon", "Home")'>
    <input type="button" value="Rojo" ONCLIck="LlenoTextconColor('R')">
    <input type="button" value="Verde" ONCLIck="LlenoTextconColor('G')">
    <input type="button" value="Amarillo" ONCLIck="LlenoTextconColor('Y')">
    <input type="button" value="Blue" ONCLIck="LlenoTextconColor('B')">
    <input type="hidden" name="secuencia" id="secuencia" value="">
    <input type="submit" value="Enviar"/>
</form>
<div>
    @for(int i = 0; i < ViewBag.numero; i++)
    {
        if(ViewBag.secuencia[i] == 'R')
        {
            <img src="~/archivos/rojo.jpg" alt="ERROR"></img>
        }else
        {
            if(ViewBag.secuencia[i] == 'G')
            {
                <img src="~/archivos/verde.jfif" alt="ERROR"></img>
            }else
            {
                if(ViewBag.secuencia[i] == 'B')
                {
                    <img src="~/archivos/azul.png" alt="ERROR"></img>
                }else
                {
                    <img src="~/archivos/amarillo.png" alt="ERROR"></img>
                }
            }
        }
        System.Threading.Thread.Sleep(500);
    }
</div>

<script>
    function LlenoTextconColor(color) 
    {
        {   
            document.getElementById("secuencia").value = document.getElementById("secuencia").value + color;
        }
        
    }
</script>
