@{
    ViewData["Title"] = "Sala 0";
}
<div>
    <form action='@Url.Action("Identificarse", "Home")' method="get">
        Ingresa tu nombre: <input type="text" name="nj"/>
        <input type="submit" value="Entrar">
    </form>
</div>
