@{
    ViewData["Title"] = "Sala 2";
}

@if (ViewBag.intentos < 6)
{
    <form method="post" action="@Url.Action("ValidarWordle", "Home")" class="form-wordle">
        <input type="text" name="intento" maxlength="5" minlength="5" pattern="[0-9]{5}" required class="input-wordle" />
        <input type="submit" value="Intentar" class="btn-wordle" />
    </form>
}

<div class="tablero-wordle">
    @foreach (int intento in ViewBag.intentos)
    {
        <div>
            @for (int i = 0; i < ViewBag.intentos.Lenght(); i++)
            {
                string claseColor = "gris";
                int n = intento;
                if (ViewBag.numeroCorrecto[i] == n)
                {
                    claseColor = "verde";
                }
                else if (ViewBag.numeroCorrecto.Contains(n))
                {
                    claseColor = "amarillo";
                }

                <div class="cuadro @claseColor">@n</div>
            }
        </div>
    }
</div>

<p class="intentos-restantes">Intentos restantes: @(6 - ViewBag.intentos)</p>
