@{
    ViewData["Title"] = "Sala 0";
}
<section class="sala0">
    <form action='@Url.Action("Identificarse", "Home")' method="get">
        <label>
            Ingresa tu nombre:
            <input type="text" name="nj"/>
        </label>
        <input type="submit" value="Entrar">
    </form>
</section>
