@{
    ViewData["Title"] = "Sala 4";
    
}
<section class="sala4">
    
    <h1 class="consigna">Simon, seguí la secuencia de colores</h1>
    <input type="button" value="Mostrar secuencia" ONCLIck="MostrarSecuencia()">
    <form method="post" action='@Url.Action("ValidarSimon", "Home")'>
        <div>
            <input type="button" name="red-button" id="red-button" value="Rojo" ONCLIck="LlenoTextconColor('R')" class="background-red">
            <input type="button" name="green-button" id="green-button" value="Verde" ONCLIck="LlenoTextconColor('G')" class="background-green">
            <input type="button" name="yellow-button" id="yellow-button" value="Amarillo" ONCLIck="LlenoTextconColor('Y')" class="background-yellow">
            <input type="button" name="blue-button" id="blue-button" value="Blue" ONCLIck="LlenoTextconColor('B')" class="background-blue">
        </div>
        <input type="hidden" name="secuencia" id="secuencia" value="">
        <input type="submit" value="Enviar"/>
    </form>
    @for(int i = 0; i < ViewBag.secuencia.Count; i++)
    {
        if(ViewBag.secuencia[i] == 'R')
        {
            <img src="~/archivos/rojo.jpg" alt="ERROR"></img>
        }else
        {
            if(ViewBag.secuencia[i] == 'G')
            {
                <img src="~/archivos/verde.jfif" alt="ERROR"></img>
            }else
            {
                if(ViewBag.secuencia[i] == 'B')
                {
                    <img src="~/archivos/azul.png" alt="ERROR"></img>
                }else
                {
                    <img src="~/archivos/amarillo.png" alt="ERROR"></img>
                }
            }
        }
        System.Threading.Thread.Sleep(500);
    }
</section>

<script>


    function LlenoTextconColor(color) 
    {
        {   
            document.getElementById("secuencia").value = document.getElementById("secuencia").value + color;
        }
    }
    function esperar(ms) {
        var ahora = Date.now(), fin = ahora + ms;
        //while (Date.now() < fin) {} // esto bloquea completamente TODO
        return new Promise(resolve => setTimeout(resolve, ms));
    }
    
    function MostrarSecuencia()
    {
        

        var secuencia = '@ViewBag.secuencia';
        var nivel = '@ViewBag.numero';
        var secuencia = @Html.Raw(Json.Serialize(ViewBag.secuencia));
        var i = 0;
        nivel = 4;
        secuencia = ['Y','G','B','R'];
                
        while (i < nivel){
            var color = secuencia[i];
            console.log(color);
            if (color == "Y"){
                document.getElementById('yellow-button').classList.add('background-yellow-high');
                document.getElementById('yellow-button').classList.remove('background-yellow');
                esperar(2000);
                document.getElementById('yellow-button').classList.add('background-yellow');
                document.getElementById('yellow-button').classList.remove('background-yellow-high');
                
            }
            else if (color == "B"){
                document.getElementById('blue-button').classList.add('background-blue-high');
                document.getElementById('blue-button').classList.remove('background-blue');
                //esperar(2000);
                //document.getElementById('blue-button').classList.add('background-blue');
                //document.getElementById('blue-button').classList.remove('background-blue-high');
               
            }
            else if (color == "G"){
                document.getElementById('green-button').classList.add('background-green-high');
                document.getElementById('green-button').classList.remove('background-green');
                //esperar(2000);
                //document.getElementById('green-button').classList.add('background-green');
                //document.getElementById('green-button').classList.remove('background-green-high');
                
            }
            else if (color == "R"){
                document.getElementById('red-button').classList.add('background-red-high');
                document.getElementById('red-button').classList.remove('background-red');
                //esperar(2000);
                //document.getElementById('red-button').classList.add('background-red');
                //document.getElementById('red-button').classList.remove('background-red-high');
                
            }else{
                console.log("No se");
            }

            i++;
        }
    }
</script>
