@{
    ViewData["Title"] = "Sala 5";
}
<section class="sala5">
    <a href='@Url.Action("IrPista", "Home")'>Obtener pista</a>
    <ul>
        <li><img src="~/archivos/malisimo1.jpg" alt="ERROR"></li>
        <li><img src="~/archivos/malisimo2.jpg" alt="ERROR"></li>
        <li><img src="~/archivos/malisimo3.jpg" alt="ERROR"></li>
        <li><img src="~/archivos/malisimo4.jpg" alt="ERROR"></li>
        <li><img src="~/archivos/malisimo5.jpg" alt="ERROR"></li>
        <li><img src="~/archivos/malisimo6.jpg" alt="ERROR"></li>
        <li><img src="~/archivos/yendo.jpg" alt="ERROR"></li>
        <li><img src="~/archivos/malisimo8.jpg" alt="ERROR"></li>
        <li><img src="~/archivos/malisimo9.jpg" alt="ERROR"></li>
    </ul>
    <form action='@Url.Action("PasarSala", "Home")' method="get">
        <input type="text" name="contraseña"/>
        <input type="submit" value="Enviar">
    </form>
</section>
